@model NTIerApp.PresentationLayer.ViewModels.MoviesVM

@{
    ViewData["Title"] = "Film";
}

<h2>Film</h2>

<div>
    <h4>MoviesVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovieGenre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieGenre)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
